@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body{
  background-color: black;
  color:#e8d6b3;
  padding: 50px;
  font-family: "Orbitron", sans-serif;
}

.login-form {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(97, 96, 96, 0.31);
  backdrop-filter: blur(10px);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 91%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgba(116, 111, 111, 0.279);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
}

button:hover {
  background-color: gray;
}

p {
  text-align: center;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
h1{
  font-family: "Orbitron", sans-serif;
  font-size: 50px;
  text-align: center;
}
